* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
   
 }
 
 .nav {
    max-width: 1200px;
}

 .home {
    background-color: ;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: skyblue;
    padding-bottom: 20px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-left: 20px;
}

.responsive {
    width: 100%;
    height: auto;
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    align-content: center;
    padding: 10px;
    box-shadow: 2px 2px lightgrey;
}

.font {
    font-size: 1.5rem;
}

.logo {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    gap: 10px;
}

.responsive1 {
    width: 6%;
    height: 6%;
}

.middle {
    background-color: white;
    
    
}

.work {
    margin-left: 20px;
    font-family: monospace;
    font-size: 1.5rem;
    margin-bottom: 3px;
}

.threeboxes {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-right: 20px;
    justify-content: space-between;
}

.project-card {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.name-icon-describe {
    box-shadow: 2px 2px lightgray;
   
}

.resp1 {
    width: 100%;
    height: auto;
}

.name-icon {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 10px;
    justify-content: space-between;
   /*padding-right: 10px;*/
}

.project-name {
    font-size: auto;
    display: flex;
    flex: 3;
}

.icon {
    display: flex;
    /*flex-direction: row;*/
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 2;
    
}

.responsive2 {
    width: 12%;
    height: auto;
}

.describe1 {
    font-size: auto;
    padding-left: 5px;
}

.down {
    background-color: skyblue;
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 20px;
}

.text-part {
    font-size: auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.paragraph-font {
    font-size: auto;
}

.phone {
    display: flex;
    flex-direction: row;
    font-size: auto;
    
    }
    
.phone-pic {
    width: 6%;
    height: auto;
    
}

.contact-pic {
    display: inline-flex;  
    
    gap: 10px;
    padding-bottom: 5px;
}

.each-contact {
    width: 6%;
    height: auto;
}
.img-part {
    display: flex;
    flex: 1;
}

.last-img {
    width: 100%;
    height: auto;
}