* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
   
 }
 
 .nav {
    max-width: 1200px;
}

body {
    background-color: skyblue;
}

.top {
    display: flex;
    flex-direction: row;
    padding: 30px;
    flex-wrap: wrap;
}

.author-image {
    position: relative;
    width: 50%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.author-name {
    position: absolute;
    font-size: 1.3rem;
    align-items: flex-end;
    bottom: 0;
    display: flex;
    color: black;
    left: 2rem;
}
.responsive {
    width: 100%;
    height: auto;
    
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-content: center;
    padding: 10px;
    box-shadow: 0rem 0rem 1rem 0rem grey;
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    
    flex-grow: 1;
    flex-shrink: 1;
}

.logo {
    display: flex;
    
    width: 40%;
    margin-top: 20px;
    gap: 10px;
    margin-left: 60%;
}

.responsive1 {
    width: 100%;
    height: auto;   
    
}

.middle {
    background-color: lightsteelblue;
    
}

.work {
    margin-left: 20px;
    font-family: monospace;
    font-size: 2.0rem;
    margin-bottom: 3px;
}

.threeboxes {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 1;
    
}

.name-icon-describe {
    box-shadow: 0rem 0rem 1rem 0rem grey;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.resp1 {
    width: 100%;
    height: auto;
}

.name-icon {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 10px;
    justify-content: space-between;
   padding-right: 10px;
}

.project-name {
    font-size: auto;
    display: flex;
    width: 80%;
}

.icon {
    display: flex;
    /*flex-direction: row;*/
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    
}

.responsive2 {
    width: 50%;
    height: auto;
}

.describe1 {
    font-size: auto;
    padding-left: 5px;
    padding-bottom: 30px;
}

.down {
    background-color: skyblue;
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 10%;
    flex-wrap: wrap;
    
}

.text-part {
    font-size: auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    flex-basis: 45%;
    flex-grow: 1;
    flex-shrink: 1;
}

.phone {
    display: flex;
    flex-direction: row;
    font-size: auto;
    gap: 10px;
    width: 100%;
    }
    
.phone-pic {
    width: 10%;
    height: auto;
}



/*.contact-pic {
    display: flex;  
    gap: 5px;
    padding-bottom: 5px;
}*/

.each-contact {
    width: 15%;
    height: auto;
    padding-right: 10px;
}

.img-part {
    display: flex;
    width: 100%;
    height: auto;
    flex-basis: 45%;
    flex-grow: 1;
    flex-shrink: 1;
}

.last-img {
    width: 100%;
    height: auto;
}